#profile {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #00a2ff;
  background-image: url("/images/carbon-fibre.png");
}

#profile h2 {
  color: rgb(141, 140, 140);
}
