#profile {
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #00a2ff;
  background-image: url("/images/carbon-fibre.png");
  padding-top: 15px;
}

#profile h2 {
  color: #f9b754;
  font-size: 2em;
  margin: 10px;
}
