nav {
  position: sticky;
  height: 120px;
  width: 100%;
  background-color: #4056a1;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-left: 1.5em;
  padding-right: 1.5em;
  background-image: url("/images/carbon-fibre-big.png");
  top: 0;
}
#logo {
  font-family: "Bungee", "sans-serif";
  font-size: 1.5em;
}
#write-new-text {
  font-family: "Source Sans Pro", "sans-serif";
}
#write-new-area {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.fa-angle-double-down {
  color: red;
  animation: upDown 1.5s infinite;
  cursor: pointer;
}
@keyframes upDown {
  0% {
    margin-top: 0px;
    color: rgba(255, 166, 0, 0.829);
  }
  50% {
    margin-top: 18px;
    color: rgba(255, 60, 0, 0.829);
  }
  100% {
    margin-top: 0px;
    color: rgba(255, 166, 0, 0.829);
  }
}
