.container {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.tweet {
  border: 3px solid #5e6572;
  width: 100%;
  margin-bottom: 20px;
}

.tweet:hover {
  box-shadow: 10px 5px 5px #5e6572;
}

.tweet header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tweet .user-detail {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.tweet .user-handle {
  font-size: 25px;
  color: rgb(252, 252, 252);
  padding: 30px 30px;
}

.tweet .avatar {
  height: auto;
  width: 20%;
  margin: 15px 10px 15px 15px;
}
.tweet .user-info {
  margin: 15px 15px 15px 10px;
}

.tweet .tweet-body {
  border-bottom: 3px solid #545149;
  padding: 20px 20px 45px 20px;
  font-weight: 600;
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  overflow-wrap: break-word;
}

.tweet .tweet-footer {
  margin-top: 10px;
  padding: 10px 30px 30px 30px;
  width: 100%;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tweet .reaction i {
  float: right;
  color: #00a2ff;
  padding-left: 10px;
}

.reaction i:hover {
  color: coral;
}
